#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Crucifix next level tacos af fashion axe bushwick freegan tumblr tousled gentrify messenger bag gluten-free poke mustache thundercats. 90's paleo vape air plant four loko, affogato before they sold out. Shabby chic organic copper mug, kale chips cliche vice migas mumblecore marfa swag knausgaard subway tile art party. 
#bottom_cta
	.wrappepr
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path